* {
    background-color: rgb(169, 192, 241);
    font-family: sans-serif;
}
ul,
li {
    color:rgb(0, 0, 0); 
}

img {
    height: 300px;
    width: auto;
    margin: 0 auto;
    display:block;
}

/* h1 {
    background-color: beige;
} */

.title {
    text-align: center;
    background-color: rgb(131, 167, 245);
    padding: 12px;
    margin-bottom: 8px;
    margin-top: 0px;
}